.actionButtonList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Расстояние между элементами */
}

.connectButton, .disconnectButton {
    background-color: #4caf50; /* Зеленый фон */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-family: LT Wave;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.connectButton:hover {
    background-color: #45a049; /* Темно-зеленый при наведении */
}

.disconnectButton {
    background-color: #f44336; /* Красный фон */
}

.disconnectButton:hover {
    background-color: #d32f2f; /* Темно-красный при наведении */
}

.addressDisplay {
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
}
