html, body {
  margin: 0; /* Убираем отступы */
  padding: 0; /* Убираем внутренние отступы */
  width: 100%; /* Ширина 100% */
  height: 100%; /* Высота 100% */

  
}

/* Цвет обычных ссылок */
a {
  color: #000000ee; /* Синий цвет */
  text-decoration: none; /* Убираем подчеркивание */
}

/* Цвет ссылок при наведении */
a:hover {
  color: #FFC33E; /* Зеленый цвет при наведении */
}

/* Цвет ссылок при активации */
a:active {
  color: #5b3ce7; /* Красный цвет при клике */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;

}




